* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* IMPLEMENTACION DE FLEXBOX*/
.header{
    background-image: url('../img/portada.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav{
    right: 20px;
}

.img-cabecera img{
    margin: 40px;
    width: 165px;
    height: 165px;
}

.nav ul {
    background-color: black;
    margin: 10px;
    display: flex;
}

.nav ul li{
    list-style: none;
    margin: 10px;
    padding: 5px;
}

nav ul li:hover{
    background-color: gray;
    color: black;
}

nav ul li a {
    color: white;
}

.main_index{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
}

section{
    margin: 15px;
    padding: 25px;
    background-color: black;
}
.seccion-texto_index {
    width: 50%;
    color: white;
    text-align: justify;
    font-size: 17px;
}

.seccion-multimedia_index {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.seccion-multimedia-caja1_index{
    display: flex;
    justify-content: space-evenly;
}

.seccion-multimedia-caja2_index{
    display: flex;
    justify-content: center;
}

.seccion-multimedia_index img{
    width: 40%;
    height: 90%;
}

footer{
    background-color: black;
    height: 120px;
}

footer p {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.caja{
    width: 95%;
    height: 450px;
    margin: 20px;
}

.caja img{
    width: 50%;
    height: 200px;
}


/* IMPLEMENTACION DE GRID EN EL MAIN DE LUGARES.HTML */
.section__discografia{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve";

    grid-template-rows: repeat(3, 650px);
}

.section__lugares .caja{
    /* border: 2px solid white; */
    overflow: hidden;
}

.uno{
    grid-area: uno;
}

.dos{
    grid-area: dos;
}

.tres{
    grid-area: tres;
}

.cuatro{
    grid-area: cuatro;
}

.cinco{
    grid-area: cinco;
}

.seis{
    grid-area: seis;
}

.siete{
    grid-area: siete;
}
.ocho{
    grid-area: ocho;
}

.nueve{
    grid-area: nueve;
}

.seccion-multimedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.foto_integrantes img{
    width: 150px;
    height: 150px;
}